/*////////////////////////////////////
///////////// About part /////////////
//////////////////////////////////////*/

#about {
    margin: 50px 0;
}

#about h1 {
    font-size: 30px;
    text-align: center;
    margin: 100px;
}

.about-img {
    width: 600px;
}

.img-about {
    width: inherit;
}

.about-part {
    display: flex;
    padding: 0 100px 0 100px;
}

.about-text {
    font-size: 18px;
    padding: 50px 100px 0 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 600px) {
    #about h1 {
        width: 100%;
        margin: 30px 0;
        font-size: 26px;
    }

    .about-part {
        display: block;
        padding: 0;
    }

    .about-img {
        width: 100%;
    }

    .about-text {
        padding: 0;
        margin: 30px 20px;
    }
}

/*///////////////////////////////////////////
//////////////// Career ////////////////////
////////////////////////////////////////////*/

#career {
    margin: 100px 0;
}

#career h2, .postings {
    text-align: center;
}

#career h2 {
    font-size: 28px;
}

.postings {
    margin-top: 20px;
    margin-bottom: 100px;
    font-size: 20px;
}

.career-form {
    margin-left: 22%;
    width: 60%;
}

.input-blocks {
    display: flex;
}

.about-input-block {
    display: block;
    width: 50%;
    margin-right: 50px;
    margin-bottom: 20px;
}

.about-input-block p {
    margin: 20px 0;
    font-size: 18px;
}

.input {
    border: none;
    border-bottom: 2px solid rgb(146, 146, 146);
    background: transparent;
    outline: none;
    width: 100%;
    font-size: 18px;
}

.input:focus {
    border-bottom: 3px solid black;
}

#positions {
    -webkit-appearance: none;
    background: url('https://icons-for-free.com/iconfiles/png/512/arrows+bottom+chevron+direction+down+icon-1320085938044424744.png') no-repeat right;
    background-size: 16px;
}

.submit {
    background-color: blueviolet;
    color: white;
    transition: 1s;
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 20px;
    margin-left: 33%;
    margin-top: 40px;
    font-size: 18px;
}

.submit:hover {
    cursor: pointer;
    background-color: purple;
}

@media screen and (max-width: 600px) {
    .career-form {
        margin: 0 0 0 3%;
        width: inherit;
    }

    .postings {
        width: inherit;
        margin-bottom: 40px;
    }

    .submit {
        margin-left: 15%;
    }

    .about-input-block {
        margin-right: 20px;
    }

    .about-input-block p {
        font-size: 16px;
    }

    #positions {
        font-size: 16px;
        margin-top: 5px;
    }
}