* {
    margin: 0;
}

body {
    background-color: white;
    font-family: 'Avenir', Helvetica, sans-serif;
}

header {
    width: 100%;
}

nav {
    padding-right: 20px;
    z-index: 2;
    display: flex;
    /*position: fixed;*/
    background-color: rgb(224, 224, 224);
    padding: 20px 0;
    right: 0;
}

.logo {
    font-size: 38px;
    font-family: 'Imprint MT Shadow', sans-serif;
    color:black;
    margin-left: 100px;
}

#logo {
    text-decoration: none;
    -webkit-user-select: none; /*disable copy*/
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header > nav > p {
    font-size: 14px;
    margin-left: 55%;
    width: 200px;
    text-align: right;
}

.phone {
    font-size: 16px;
    font-weight: 600;
}

.data-form{
    margin: 100px 200px;
}

.text-container {
    display: flex;
    margin-bottom: 20px;
    height: 30px;
}

.text-container p {
    width: 100px;
    font-size: 14px;
    font-weight: 600;
    margin-top: 7px;
}

.text-field {
    width: 200px;
    font-size: 14px;
    padding: 0 10px;
    border: none;
    border-bottom: 1px solid rgb(180, 180, 180);
    background-color: transparent;
    transition: 0.3s;
}

.text-field:focus {
    outline: none;
    border-bottom: 2px solid blueviolet;
}

.submit {
    width: 200px;
    height: 30px;
    background-color: blueviolet;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 6px;
    margin-top: 20px;
    transition: 0.5s;
    text-align: center;
}

.submit:hover {
    background-color: purple;
    cursor: pointer;
}

.submit:disabled {
    background-color: rgba(138, 43, 226, 0.5);
}

.data-form h1 {
    margin-bottom: 20px;
    font-size: 22px;
}




.input {
    display: flex;
    height: 40px;
    font-size: 16px;
    width: 33%;
    padding: 0 3px;
    background: #fff;
    color: #666;
    outline: none;
    border: 0;
}

.area-code,.prefix {
    width: 27px;
    margin-left: 7px;
}

.suffix {
    width: 38px;
}

.dash,.parenthesis {
    display: flex;
}

.input-phone {
    width: 80px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

    border: 1px solid #e5e5e5;
    transition: .2s ease-in-out;
    transition-property: color,background-color,borde
}

.input-card {
    width: 200px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

    border: 1px solid #e5e5e5;
    transition: .2s ease-in-out;
    transition-property: color,background-color,borde
}

.label {
    height: 100%;
    background: rgb(238, 238, 238);
    width: 25%;
    padding-top: 8px;
    display: flex;
    text-transform: uppercase;
    justify-content: space-around;
    font-weight: bold;
    height: 34px;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.copyright {
    color: rgb(105, 105, 105);
    margin-top: 40px;
    text-align: center;
}