* {
    margin: 0;
}

body {
    background-color: white;
    font-family: 'Avenir', Helvetica, sans-serif;
}

header {
    width: inherit;
}

nav {
    padding-right: 20px;
    z-index: 2;
    display: flex;
    background-color: rgb(224, 224, 224);
    padding: 20px 0;
}

.logo {
    font-size: 38px;
    font-family: 'Imprint MT Shadow', sans-serif;
    color: black;
    margin-left: 100px;
}

#logo {
    text-decoration: none;
    -webkit-user-select: none; /*disable copy*/
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header > nav > p {
    font-size: 14px;
    margin-left: 55%;
    width: 200px;
    text-align: right;
}

.phone {
    font-size: 16px;
    font-weight: 600;
}

@media screen and (max-width: 600px) {
    .nav {
        width: inherit;
        padding: 5px 0;
    }

    .logo {
        margin-left: 10px;
        font-size: 30px;
    }

    header > nav > p {
        margin-left: 7%;
    }
}

.form {
    margin: 100px 200px;
}

.form h4 {
    margin: 20px 0;
}

.text-container {
    display: flex;
    margin-bottom: 20px;
    height: 30px;
}

.text-container p {
    width: 100px;
    font-size: 14px;
    font-weight: 600;
    /* margin-top: 7px; */
}

.text-field {
    width: 200px;
    font-size: 14px;
    padding: 0 10px;
    border: none;
    border-bottom: 1px solid rgb(180, 180, 180);
    background-color: transparent;
    transition: 0.3s;
}

.text-field:focus {
    outline: none;
    border-bottom: 2px solid blueviolet;
}

main {
    display: flex;
}

.submit {
    width: 162px;
    height: 30px;
    background-color: blueviolet;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 6px;
    margin-top: 20px;
    transition: 0.5s;
    text-align: center;
}

.submit:hover {
    background-color: purple;
    cursor: pointer;
}

.submit:disabled {
    background-color: rgba(138, 43, 226, 0.5);
    border: none;
}

.submit:focus {
    border: none;
    outline: none;
}

.data-form h1 {
    margin-bottom: 20px;
    font-size: 22px;
}

.back {
    background-color: rgb(145, 0, 0);
    color: white;
    font-size: 16px;
    width: 150px;
    height: 28px;
    border: none;
    border-radius: 6px;
    margin-top: 20px;
    transition: 0.5s;
    text-align: center;
    margin-right: 20px;
}

.back:hover {
    background-color: black;
    cursor: pointer;
}


.input {
    display: flex;
    height: 40px;
    font-size: 14px;
    width: 33%;
    padding: 0 3px;
    background: #fff;
    color: #666;
    outline: none;
    border: 0;
}

.cvv {
    width: 25px;
    height: 20px;
    margin-left: 5px;
}

.area-code {
    width: 25px;
    margin-left: 4px;
}

.prefix {
    width: 25px;
}

.suffix {
    width: 38px;
    margin-left: 2px;
}

.dash, .parenthesis {
    display: flex;
}

#region {
    background: transparent;
    width: 30px;
    border: none;
    margin-right: -10px;
    margin-left: 10px;
    font-weight: 600;
}

.input-date {
    width: 200px;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    transition: .2s ease-in-out;
    transition-property: color, background-color, border;
}

.input-phone {
    width: 160px;
    height: 5px;
    margin-left: 0;
}

.line {
    width: 220px;
    height: 2px;
    border-bottom: 1px solid rgb(180, 180, 180);
    position: absolute;
    margin-left: 101px;
    margin-top: 27px;
}

.input-card {
    margin-top: 2px;
    /* margin-left: 7px; */
    width: 200px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

    border: 1px solid #e5e5e5;
    transition: .2s ease-in-out;
    transition-property: color, background-color, border;
}


.cart-container {
    position: relative;
    margin: 50px 0;
    padding: 50px;
    box-shadow: 4px 4px rgb(0, 0, 0, 0.2);
    border: 2px solid rgb(223, 223, 223);
}

.cart-container h3 {
    margin-bottom: 20px;
}

.prod-name {
    width: 200px;
}

.price {
    margin: 10px 20px 0 20px;
}

.total-price {
    margin-left: 10px;
}

.products {
    max-height: 300px;
    overflow: auto;
    width: 500px;
}

.quantity {
    height: 15px;
}

.sum {
    position: absolute;
    display: flex;
    font-size: 18px;
    bottom: 30px;
    left: 50px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    width: 30px;
    text-align: center;
}

.op {
    background: transparent;
    border: none;
    color: blueviolet;
    font-size: 16px;
}

.op:hover {
    cursor: pointer;
}

.product {
    display: flex;
    margin-bottom: 15px;
}

.input-group {
    display: flex;
    margin-top: 10px;
}

.close {
    background: transparent;
    color: red;
    height: 30px;
    font-size: 24px;
    border: none;
}

.close:hover {
    color: rgb(177, 0, 0);
    cursor: pointer;
}



@media screen and (max-width: 600px) {
    main {
        display: block;
        width: inherit;
    }

    .form {
        margin: 30px 20px;
        width: inherit;
    }

    .cart-container {
        width: inherit;
        margin: 0;
        padding: 20px 20px 50px;
    }

    .prod-name {
        width: 100px;
    }

    .price {
        margin: 10px 5px;
    }

    .products {
        width: inherit;
    }

    .sum {
        bottom: 10px;
        left: 20px;
    }

    .back {
        width: 120px;
    }

    .submit {
        width: 132px;
    }
}


footer {
    bottom: 0;
    margin-top: 40px;
    width: 100%;
}

.copyright {
    color: rgb(105, 105, 105);
    text-align: center;
}