
/*///////////////////////////////////////////
//////////////// contact ////////////////////
////////////////////////////////////////////*/

#contact {
    padding: 80px 200px 0 200px;
}

#contact h1 {
    font-size: 38px;
    text-align: center;
    margin-bottom: 100px;
}

.part1, .part2 {
    display: flex;
    margin-bottom: 70px;
}

.work-time, .location {
    width: 200px;
}

#contact h4 {
    font-size: 18px;
    margin-bottom: 20px;
}

#contact p {
    font-size: 16px;
    margin-bottom: 10px;
}

.form-text {
    margin-left: 33%;
    margin-top: 30px;
}

#contact form {
    margin-left: 30%;
}

.input-blocks {
    display: flex;
}

.about-input-block {
    display: block;
    width: 50%;
    margin-right: 50px;
    margin-bottom: 20px;
}

.about-input-block p {
    margin: 20px 0;
    font-size: 18px;
}

.input {
    border: none;
    border-bottom: 2px solid rgb(146, 146, 146);
    background: transparent;
    outline: none;
    width: 100%;
    font-size: 18px;
}

.input:focus {
    border-bottom: 3px solid black;
}

.area {
    margin-top: 20px;
}

.textarea {
    width: 91%;
    resize: none;
}

.submit {
    background-color: blueviolet;
    color: white;
    transition: 1s;
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 20px;
    margin-left: 23%;
    margin-top: 40px;
    font-size: 18px;
}

.submit:hover {
    cursor: pointer;
    background-color: purple;
}

/*///////////////////////////////////////////
//////////////// letters ////////////////////
////////////////////////////////////////////*/

#letters {
    margin: 100px 40px;
    padding: 40px 200px 60px 200px;
    background-color: blueviolet;
    color: white;
    text-align: center;
}

#letters h1 {
    font-size: 30px;
}

#letters p {
    margin: 30px 0;
}

.email-news{
    width: 400px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 20px;
    padding-left: 20px;
    font-size: 16px;
}

.email-submit {
    width: 200px;
    height: 45px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 25px;
    margin-left: -50px;
}

.email-submit:hover {
    cursor: pointer;
}
