/*#mydiv {*/
/*  color: blue;*/
/*}*/

/*p {*/
/*  font-size: 30px;*/
/*}*/

* {
  margin: 0;
}

nav {
  padding-right: 20px;
  z-index: 2;
  display: flex;
  position: fixed;
  background-color: black;
  right: 0;
}