* {
    margin: 0;
}

body {
    background-color: white;
    font-family: 'Avenir', Helvetica, sans-serif;
}

header {
    width: 100%;
}

nav {
    padding-right: 20px;
    z-index: 2;
    display: flex;
    background-color: rgb(224, 224, 224);
    padding: 20px 0;
}

.logo {
    font-size: 38px;
    font-family: 'Imprint MT Shadow', sans-serif;
    color: black;
    margin-left: 100px;
}

#logo {
    text-decoration: none;
    -webkit-user-select: none; /*disable copy*/
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header > nav > p {
    font-size: 14px;
    margin-left: 55%;
    width: 200px;
    text-align: right;
}

.phone {
    font-size: 16px;
    font-weight: 600;
}

@media screen and (max-width: 600px) {
    .nav {
        width: inherit;
        padding: 5px 0;
    }

    .logo {
        margin-left: 10px;
        font-size: 30px;
    }

    header > nav > p {
        margin-left: 7%;
    }
}

.success-container {
    margin-left: 33%;
    margin-top: 3%;
    box-shadow: 4px 4px 8px rgb(0, 0, 0);
    width: 27%;
    height: 400px;
    border-radius: 6px;
    padding: 50px 40px;
}

.success-container h1 {
    color: rgb(0, 160, 0);
    text-align: center;
}

.correct-container {
    margin: 5% 0 5% 43%;
}

.success-text {
    width: 100%;
}

.success-child {
    display: block;
    width: 100%;
    margin-bottom: 15px;
}

.general-success {
    color: rgb(102, 102, 102);
    float: left;
}

.certain-success {
    text-align: right;
    font-weight: 600;
    float: right;
}

.bold {
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;
}

.home-return {
    height: 30px;
    width: 150px;
    background-color: blueviolet;
    border: none;
    border-radius: 4px;
    color: white;
    margin-left: 33%;
    margin-top: 30px;
    font-size: 16px;
    transition: .3s;
}

.home-return:hover {
    cursor: pointer;
    background-color: purple;
}

@media screen and (max-width: 600px) {
    .success-container {
        margin: 40px 0;
        padding: 20px 10px;
        width: inherit;
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.copyright {
    color: rgb(105, 105, 105);
    margin-top: 40px;
    text-align: center;
}